.footer-container {
  text-align: center;
  position: relative;
  width: 100%;
  max-height: 80px;
  min-height: 50px;
  padding: 20px;
  background: #CCCCCC;
  bottom: 0;
  left: 0;
}

.footer-container p {
  font-size: smaller;
  color: #333333;
}

.footer-container .social-media svg {
  color: #888888;
  margin-top: 5px;
  margin-left: 5px;
  transition: all .5s ease-in-out;
}

.footer-container .social-media svg:hover {
  color: #666666;
}