body {
  position: relative;
}

.footer-container {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px;
  background: #CCCCCC;
  bottom: 10;
}

.footer-container p {
  font-size: smaller;
  color: #333333;
}

.footer-container .social-media svg {
  color: #888888;
  margin-top: 5px;
  margin-left: 5px;
  transition: all .5s ease-in-out;
}

.footer-container .social-media svg:hover {
  color: #666666;
}