.banner {
  width: 100%;
  height: 240px;
  background: rgb(53,47,143);
  background: linear-gradient(80deg, rgba(53,47,143,1) 0%, rgba(25,25,112,1) 0%, rgba(48,48,150,1) 100%);
  color: #FFFFFF;
  padding: 20px;
}

.banner .content {
  margin-top: 50px;
}

.banner .content p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 2em;
}

.banner button {
  margin: 10px 5px 10px 0px;
}

button {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

.entrar {
  color: #FFFFFF;
  background: rgb(34, 124, 57);
}

.cadastrar {
  color: #000000;
  background: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 280px;
  }
}

.content-produtos {
  width: 100%;
  min-height: 380px;
  padding: 20px;
}

/*---- CARD ----*/
.card {
  position: relative;
  margin: 1rem;
  max-width: 300px;
  max-height: 300px;
  background: #FFFFFF;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera  7 */    
  word-wrap: break-word;      /* IE */
}

.card .card-image > img {
  width: 100%;
  height: 250px;
}

.card .container {
  margin: 0px 5px;
  display: block;
  min-height: 40px;
}

.card .container p {
  font-size: smaller;
  margin-top: 3px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}