.container-register {
  background: rgb(53,47,143);
  background: linear-gradient(80deg, rgba(53,47,143,1) 0%, rgba(25,25,112,1) 0%, rgba(48,48,150,1) 100%);
  height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}

.box-form .description {
  margin-bottom: 40px;
}

.input-email, .input-password {
  margin: 10px 0px;
}

.input-email input, .input-password input {
  width: 300px;
}

.back {
  background: #eeeeee;
  color: #000000;
}

.submit {
  color: #FFFFFF;
  margin-right: 5px;
  background: rgb(34, 124, 57);
}